.solid-menus .navbar-default.navbar-default-light {
  background: #EFEFEF;
  border-color: #C2C2C2;
}
.solid-menus .navbar-default.navbar-default-light.navbar-hover .dropdown:hover > a {
  background-color: #e7e7e7 !important;
  color: #333 !important;
}
.solid-menus .navbar-default.navbar-default-light .navbar-nav .open .dropdown-menu {
  background: white;
}
.solid-menus .navbar-default.navbar-default-light .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.solid-menus .navbar-default.navbar-default-light .navbar-nav > li > a:hover {
  background-color: #E7E7E7 !important;
}
.solid-menus .navbar-default.navbar-default-light .navbar-toggle {
  border: 0;
  padding-left: 0;
}
.solid-menus .navbar-default.navbar-default-light .navbar-toggle .icon-bar {
  background-color: #777;
}
.solid-menus .navbar-default.navbar-default-light .navbar-toggle:hover,
.solid-menus .navbar-default.navbar-default-light .navbar-toggle:focus {
  background-color: transparent;
}
.solid-menus .navbar-default.navbar-default-light .mini-menu .i-list.i-list-i-block > li > a:hover {
  background-color: #e7e7e7 !important;
  color: #333 !important;
}
.solid-menus .navbar-default.navbar-default-dark {
  background: #45AD3A;  /** was #151515 **/
  border-left: 1px solid #151515;
  border-right: 1px solid #151515;
  border-left:#45AD3A;
  border-right:#45AD3A;
  border-bottom: 0;
  border-top: 0;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-brand {
  color: white;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-toggle {
  border: 0;
  padding-left: 10px;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-toggle .icon-bar {
  background-color: #E00101;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-toggle:hover,
.solid-menus .navbar-default.navbar-default-dark .navbar-toggle:focus {
  background-color: transparent;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-nav > li > a {
  color: white;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-nav > li > a:hover {
  /**  MY ADDITIONS
   background: #E00101;
   */

}
.solid-menus .navbar-default.navbar-default-dark .navbar-nav > .open > a,
.solid-menus .navbar-default.navbar-default-dark .navbar-default .navbar-nav > .open > a:focus,
.solid-menus .navbar-default.navbar-default-dark .navbar-default .navbar-nav > .open > a:hover {
  background-color: #E00101;
}
.solid-menus .navbar-default.navbar-default-dark.navbar-hover .dropdown:hover > a {
  /** MY ADDITIONS

  background-color: #E00101;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;**/
  background-color: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: #000 solid 2px;

  color: white !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #45AD3A;
}


.solid-menus .navbar-default.navbar-default-dark.navbar-hover .dropdown-menu > li > a:focus {
  color: #333;
  background-color: transparent;
}
.solid-menus .navbar-default.navbar-default-dark.navbar-hover .dropdown-menu > li > a:hover {
  color: white;
  background-color: #E00101;
}
.solid-menus .navbar-default.navbar-default-dark.navbar-click .dropdown:hover > a {
  background-color: #E00101;
  color: #ffffff !important;
}
.solid-menus .navbar-default.navbar-default-dark.navbar-click .dropdown-menu > li > a:focus,
.solid-menus .navbar-default.navbar-default-dark.navbar-click .dropdown-menu > li > a:hover {
  background-color: #E00101;
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-dark .dropdown-menu{
  background: white;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.solid-menus .navbar-default.navbar-default-dark .navbar-pos-search .x-search i {
  color: #E00101;
}
.solid-menus .navbar-default.navbar-default-dark #search_term {
  background: #151515;
  color: white;
}
.solid-menus .navbar-default.navbar-default-dark .s-list > li > a:hover,
.solid-menus .navbar-default.navbar-default-dark .s-list > li > a:hover > span {
  color: white;
  background-color: #E00101 !important;
}
.solid-menus .navbar-default.navbar-default-dark .s-list.s-list-sprite > li > a:hover {
  color: #2886D6 !important;
  background-color: transparent !important;
}
.solid-menus .navbar-default.navbar-default-dark .bb-2px {
  border-color: #E00101;
}
.solid-menus .navbar-default.navbar-default-dark .tile-container .tile:hover {
  background: #E00101;
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-dark .tile-container .tile:hover a {
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-dark .i-list-i-block.i-list-i-block-md > li a {
  display: block !important;
  padding: 10px 20px !important;
  text-decoration: none;
  color: #333;
}
.solid-menus .navbar-default.navbar-default-dark .i-list-i-block.i-list-i-block-md > li a:hover {
  background: #E00101 !important;
  color: white;
}
.solid-menus .navbar-default.navbar-default-blue {
  background: #05668D;
  border-left: 1px solid #05668D;
  border-right: 1px solid #05668D;
  border-bottom: 0;
  border-top: 0;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-brand {
  color: white;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-toggle {
  border: 0;
  padding-left: 0;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-toggle .icon-bar {
  background-color: #4AC7F9;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-toggle:hover,
.solid-menus .navbar-default.navbar-default-blue .navbar-toggle:focus {
  background-color: transparent;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-nav > li > a {
  color: white;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-nav > li > a:hover {
  background: #055C7F;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-nav > .open > a,
.solid-menus .navbar-default.navbar-default-blue .navbar-default .navbar-nav > .open > a:focus,
.solid-menus .navbar-default.navbar-default-blue .navbar-default .navbar-nav > .open > a:hover {
  background-color: #055C7F;
}
.solid-menus .navbar-default.navbar-default-blue.navbar-hover .dropdown:hover > a {
  background-color: #055C7F;
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-blue.navbar-hover .dropdown:hover > a {
  background-color: #055C7F;
}
.solid-menus .navbar-default.navbar-default-blue.navbar-click .dropdown:hover > a {
  background-color: #055C7F;
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-blue.navbar-click .dropdown-menu > li > a:focus,
.solid-menus .navbar-default.navbar-default-blue.navbar-click .dropdown-menu > li > a:hover {
  background-color: #055C7F;
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-blue .dropdown-menu {
  background: white;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.solid-menus .navbar-default.navbar-default-blue .dropdown-menu > li > a:focus,
.solid-menus .navbar-default.navbar-default-blue .dropdown-menu > li > a:hover {
  color: white;
  background-color: #055C7F;
}
.solid-menus .navbar-default.navbar-default-blue .navbar-pos-search .x-search i {
  color: #4AC7F9;
}
.solid-menus .navbar-default.navbar-default-blue #search_term {
  background: #05668D;
  color: white;
}
.solid-menus .navbar-default.navbar-default-blue .s-list > li > a:hover,
.solid-menus .navbar-default.navbar-default-blue .s-list > li > a:hover > span {
  color: white !important;
  background-color: #055C7F !important;
}
.solid-menus .navbar-default.navbar-default-blue .s-list.s-list-sprite > li > a:hover {
  color: #2886D6 !important;
  background-color: transparent !important;
}
.solid-menus .navbar-default.navbar-default-blue .bb-2px {
  border-color: #055C7F;
}
.solid-menus .navbar-default.navbar-default-blue .tile-container .tile:hover {
  background: #055C7F;
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-blue .tile-container .tile:hover a {
  color: white !important;
}
.solid-menus .navbar-default.navbar-default-blue .i-list-i-block.i-list-i-block-md > li a {
  display: block !important;
  padding: 10px 20px !important;
  text-decoration: none;
  color: #333;
}
.solid-menus .navbar-default.navbar-default-blue .i-list-i-block.i-list-i-block-md > li a:hover {
  background: #05668D !important;
  color: white;
}

/** MY ADDITIONS **/
.menu-icon-links{
  text-decoration:none;
  padding-top:4px;

}

.menu-icon-links:hover{
  background-color:rgba(211,211,211,0.2);
  text-decoration: none;
}

.menu-icon-links:after{
  /*background:transparent;*/
}

.menu-icon-links p:first-of-type{
  color:#000;
}

.menu-icon-links strong{
  color:#45AD3A;
}

/******* MY ADDITION ******/
#feature {
  background: #f2f2f2;
  /**padding-bottom: 40px; **/
}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2{
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #c52d2f;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #c52d2f;
  color: #fff;
  box-shadow: inset 0 0 0 5px #c52d2f;
  -webkit-box-shadow: inset 0 0 0 5px #c52d2f;
  border: 3px solid #c52d2f;
}


#contact-info{
  background: #fff url(../images/contact.png) no-repeat 90% 0;
  padding: 30px 0;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info{
  margin-top: 0;
  color: #000;
}

.contact-info a {
  text-decoration:none;
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.contact-info a:hover, a:focus {
  color: #d43133;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


/** ----------- partner box --------------- **/
#partner {
  background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
}

#partner {
  color: #fff;
  text-align: center;
}


#partner {
  color: #fff;

}

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners ul li{
  display: inline-block;
  float: left;
  width: 20%;
}

.partners .image-box{
  height:130px;
  margin-right:auto;
  margin-left:auto;
}
.partners .image-box img{
  width:auto;

}


@media screen and (min-width:450px) and (max-width: 600px){
  .partners .image-box{
    width:30%;
    float:left;
  }
}

@media screen and (min-width:601px){
  .partners .image-box{
    width:20%;
    float:left;
  }
}

#anlin{
  width:20%;
}
#mont-verde{
  width:20%; margin-top:20px;
}

#texcote{
  padding: 40px 20px 0 0; width:20%;
}

#homeadvisor{
  width:12%;
}

#cslb{
  width:12%;
}

#syn-lawn{
  width:18%;
}

#bbb{
  width:9%;
  padding-left:10px;
}
#bbb img{
  max-height:100px;
}

#house-fan{
  margin-top:30px;
}

#services {
  background: #000 url(../images/services/bg_services.png);
  background-size: cover;

}

#services a{
  color:#000;
}

#services a:hover{
  text-decoration:none;
  color:#0D3059;
}

#services .lead,
#services h2{
  color: #fff;
}

.services-wrap {
  padding: 50px 30px;
  background: #fff;
  border-radius: 4px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:20px;
  height:218px;
  width: 360px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

.services-wrap .media-body{
  color:#000000;
}

/** ----- TESTIMONIALS ----- **/
.testimonials{
  background-color:#ffffff;
}
.testimonial h2{
  margin-top: 0;
}

.testimonial-inner {
  color:#858586;
  font-size: 14px;
  background-color:#ffffff;
}

.testimonial-inner .pull-left{
  border-right: 1px solid #e7e7e7;
  padding-right: 15px;
  position: relative;
}

.testimonial-inner .pull-left:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -5px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  border: 1px solid #e7e7e7;
  right: -5px;
  border-left: 0 none;
  border-bottom: 0 none;
}
/***********************
********* Footer ******
************************/

#bottom {
  margin-top: 20px;
  font-size: 14px;
  background-color:#f2f2f2;
  padding-top:40px;
  padding-bottom:40px;
}

#bottom h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:22px;
  color: #000;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom a:hover{
  text-decoration:none;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #808080;
}

#bottom ul li a:hover {
  color: #c52d2f;
  text-decoration:none;
}

#bottom .widget {
  margin-bottom: 0;
}
.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  height: 84px;
  margin-top: 10px;
}

.footer_left {
  padding: 10px;
}
#footer {
  border-top: 5px solid #c52d2f;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #c52d2f;
  text-decoration:none;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

/** BOOTSTRAP STYLES MODIFIED FOR THIS THEME **/
.navbar-default .navbar-link {
  color: #777;
  border-bottom: #45AD3A solid 2px;
}

.navbar-default .navbar-link:hover {
  background-color: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: #000 solid 2px;
}

.navbar-default .navbar-link .active{
  border-bottom:#c52d2f;
}

/** -- PHONE NUMBER AT THE TOP -- **/
.top-number{
  margin-left:15%;
  margin-top:20px;
  font-size: 18px;
  color: #fff;
}

.top-number p{
  margin: 3px 0 0 100px;

}

.owl-item.active  .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

.owl-item.active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

.owl-item.active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

.owl-item.active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

/** CLIENTS AREA **/
.clients-area {
  padding: 60px;
}

/** REVIEW STARS **/
.review_stars{
  color:#ff0000;
}

/** REVIEWER LIST BACKGROUND COLOR FOR ADMIN PANEL **/
.reviewer_list_background{
  background-color:rgba(118, 242,143, 0.3);
}

/** CONTACT PAGE **/

/*************************
********* Contact Us *****
**************************/

.gmap-area {
  background-image: url("../images/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.gmap{
  border: 10px solid #f6f5f0;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 3px 3px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none;
}

.gmap-area .map-content address h5{
  font-weight: 700;
  /* font-size: 16px; */
}

#contact-page{
  padding-top: 0;
}

#contact-page .contact-form
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#f2f2f2;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

/*******************************
  -- ARTICLE STYLE CONTENT --
  ******************************/

.post__list_item {
  cursor: pointer;
  display: block;
  border-bottom: 2px solid #e3e9ec;
  padding: 40px 30px 60px 30px;
  -webkit-transition: 200ms ease all;
  -o-transition: 200ms ease all;
  transition: 200ms ease all
}

.post__list_item h1, h2{
  color:#000;
}

.post__list_item a{
  color:#c52d2f;
}

.post__list_item a:hover{
  text-decoration:none;
}

.post__list_item img {
  border-radius: 4px
}

.post__list_item p, .post__list_item small {
  -webkit-transition: 200ms ease all;
  -o-transition: 200ms ease all;
  transition: 200ms ease all;
  opacity: .75;
  color: #474B59
}

.post__list_item:hover {
  border-bottom: 2px solid #65c6c3
}

.post__list_item:hover, .post__list_item:hover p, .post__list_item:hover small {
  -webkit-transition: 200ms ease all;
  -o-transition: 200ms ease all;
  transition: 200ms ease all
}

.post__list_item:hover p, .post__list_item:hover small {
  opacity: 1
}

.post__details {
  display: block;
  text-transform: uppercase;
  font-family: "proxima_nova_rgregular";
  font-size: 14px;
  padding-top: 20px;
  color: #F0F3F5
}

.post__introduction {
  font-size: 16px;
  line-height: 26px;
  padding-top:10px;
}

.post__body h2 {
  font-size: 24px;
  line-height: 1.5;
  padding: 20px 0 10px;
  font-family: "proxima-nova-semibold"
}

.post__body p {
  font-size: 17px;
  line-height: 2;
  font-family: "proxima_nova_rgregular"
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

.get-started {
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 18px;
  margin-top: 60px;
}

.get-started h2 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.get-started a{
  color:#c52d2f;
}

.get-started a:hover{
  text-decoration:none;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

/*****************************
********* Portfolio CSS ******
*****************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items,
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  margin-top:20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/** #####################################
 ** ####### RECENT WORK GALLERY  ########
 ** ###################################*/
#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
  padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: rgba(192,27,27,.80);
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}
.reply_section .media-body{
  display:inherit;
}

#row-carousel{
  color:#ffffff;
}

/** ######################################
 ** #####  TESTIMONIALS    ###############
    ####################################*/
.recent-reviews{
  font-size:1.5em; text-align:left; padding-left:5px; margin-bottom:15px; color:#9c9ea1;
}

.recent-review-big{
  font-size:3em;
}

/** #######################################
 ** ######  REQUEST SECTION OF PAGES ######
    ####################################**/

.request {
  bottom: -15px;
  left: 50%;
  position: absolute;
  margin-left: -110px;
}

.request h4 {
  position: absolute;
  width: 220px;
  position:relative;
}

.request h4 a{
  background:#c52d2f;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  padding: 5px 15px;
}

.request h4:after {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -17px;
  content: "";
  height: 0;
  position: absolute;
  right: 18px;
  z-index: -99999;
}

.request h4:before {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -17px;
  content: "";
  height: 0;
  left: 17px;
  position: absolute;
  z-index: -99999;
}

/** ################################
 ** #### Windows page only  ########
    ##############################*/
/** ANLIN WINDOW FRAME COLOR PALETTE **/

/*color palette for window frames */

.color_palette > div {
  height:30px; margin: 2px;
}

.color_palette > .black{
  background-color:#000000;
}

.color_palette > .ac-bronze{
  background-color:#333233;
}

.color_palette > .silver{
  background-color:#9c9ea1;
}

.color_palette > .cl-gray{
  background-color:#b3b7b1;
}

.color_palette > .espresso{
  background-color:#3e3b39;
}

.color_palette > .taupe{
  background-color:#655b45;
}

.color_palette > .red-pepper{
  background-color:#781218
}

.color_palette > .rose-wood{
  background-color:#51342d
}

.color_palette > .desert-tan{
  background-color:#9d9f90;
}

.color_palette > .sand-stone{
  background-color:#d6cab9;
}

.color_palette > .divine-wine{
  background-color:#4e2c3d
}

.color_palette > .forest-green{
  background-color:#015949;
}

dl.frame_color {float:left;width:100px;text-align:center;margin-top: 15px;}
dl.grid_style {float:left;width:134px;text-align:center;padding-left:50px;}
dl.grid_pattern {float:left;width:132px;text-align:center;}
dl.grid_pattern_wide {float:left;width:160px;text-align:center;}
dl.glass_pattern {float:left;width:133px;text-align:center;}
dl.vgroove_pattern {float:left;width:276px;text-align:center;}
/**dl.thermacoat {float: left; width:650px; height:182px;position:relative; vertical-align: top;
  background-image: url(../_images/ProductPage_ThermaCoat.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-left: 1px dotted #CCC;
  margin-left: 10px;
  padding-left: 15px;
}**/
dl.thermacoat a {
  position: absolute;
  top: 105px;
  margin-left: 45px;
}
dl.thermacoat p {
  color: #ED1C24;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 167px;
  margin-left: 251px;
}
dl.thermacoat dd.r1 { top: 32px }
dl.thermacoat dd.r2 { top: 93px }
dl.thermacoat dd.r3 { top: 154px }
dl.thermacoat dd.c1 { left: 238px }
dl.thermacoat dd.c2 { left: 342px }
dl.thermacoat dd.c3 { left: 448px }
dl.thermacoat dd.c4 { left: 550px }
dl.thermacoat dd {
  width: 96px;
  text-align: center;
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  font-family: Verdana, Arial, Sans-serif;
}
dl.thermacoat dd.optional {
  position: absolute;
  top: 63px;
  left: 3px;
  width: 230px;
  line-height: 14px;
}
dl.first {margin-left:0;padding-left:0;}

/***************************** WINDOW OPTION CUBES ***************************/
.wd-options {
  margin:10px;
  width:98%;
  height:140px;
}

.wd-options .wd-option-box{
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  border:solid #000000 1px;
  padding:3px;
  height:120px;
  width:120px;
  margin:10px;
  color:#000;
  background-repeat: no-repeat;
  background-size: cover;
}

/**  THIS IS FOR THE WINDOWS PAGE **/
.wd-options .wd-option-box.single-slide{
  background:url('../images/assets/single-slide-window.gif');
  background-position:right -30px top 0;
}
.wd-options .wd-option-box.double-slide{
  background:url('../images/assets/vinyl-windows-type-double-slider_over.gif');
  background-position:right -30px top 0;
}
.wd-options .wd-option-box.single-hung{
  background:url('../images/assets/vinyl-windows-type-single-hung_over.gif');
  background-size:98%;
  background-position:right 2px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}
.wd-options .wd-option-box.double-hung{
  background:url('../images/assets/vinyl-windows-type-double-hung_over.gif');
  background-size:98%;
  background-position:right 2px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}
.wd-options .wd-option-box.casement{
  background:url('../images/assets/vinyl-windows-type-casement_over.gif');
  background-size:98%;
  background-position:right 2px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}
.wd-options .wd-option-box.awning{
  background:url('../images/assets/vinyl-windows-type-awning_over.gif');
  background-position:right -30px top 0;
}
.wd-options .wd-option-box.bay-bow{
  background:url('../images/assets/vinyl-windows-type-bay-bow_over.gif');
  background-size:98%;
  background-position:right 2px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}
.wd-options .wd-option-box.garden{
  background:url('../images/assets/vinyl-windows-type-garden_over.gif');
  background-position:right -30px top 0;
}
.wd-options .wd-option-box.picture{
  background:url('../images/assets/vinyl-windows-type-picture_over.gif');
  background-size:98%;
  background-position:right 2px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}
.wd-options .wd-option-box.geo{
  background:url('../images/assets/vinyl-windows-type-geometric_over.gif');
  background-position:right -30px top 0;
}


/*** THIS IS THE SECTION FOR THE DOOR IMAGES  ******************/
.wd-options .wd-option-box.patio-sliding{
  background:url('../images/assets/vinyl-patio-doors-sliding-panel-option-sf_over.gif');
  background-size:83%;
  background-position:right 10px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}

.wd-options .wd-option-box.french-slide{
  background:url('../images/assets/vinyl-patio-doors-sliding-panel-option-sf_over.gif');
  background-size:83%;
  background-position:right 10px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}

.wd-options .wd-option-box.french-swing{
  background:url('../images/assets/vinyl-patio-doors-swinging-panel-option-fs_over.gif');
  background-size:78%;
  background-position:right 10px top 18px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}

.wd-options .wd-option-box.pet-sliding{
  background:url('../images/assets/patio-sliding-dog-door.gif');
  background-size:83%;
  background-position:right 10px top 14px;
  background-repeat:no-repeat;
  background-color: rgba(235,228, 205, 1);
}

.wd-options .wd-option-box a, a:hover, a:focus{
  text-decoration:none;
  color:#000;
}

.wd-options img{
  height:60px;
}

.w-title{
  font-height:0.8em;
}


/*******   WINDOWS AND DOORS FADE IN ACROSS MENU   *********/


@-webkit-keyframes fadeInWin { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeInWin { from { opacity:0; } to { opacity:1; } }
@keyframes fadeInWin { from { opacity:0; } to { opacity:1; } }

.ld-fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeInWin ease-in 1;  /* call our keyframe named fadeInWin, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeInWin ease-in 1;
  animation:fadeInWin ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.ld-fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.ld-fade-in.two {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay:0.8s;
  animation-delay: 0.8s;
}

.ld-fade-in.three {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.ld-fade-in.four{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.ld-fade-in.five{
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay:1.6s;
  animation-delay: 1.6s;
}

.ld-fade-in.six{
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  animation-delay: 1.9s;
}

.ld-fade-in.seven{
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.ld-fade-in.eight{
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.ld-fade-in.nine{
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.ld-fade-in.ten{
  -webkit-animation-delay: 3.1s;
  -moz-animation-delay: 3.1s;
  animation-delay: 3.1s;
}


/**** STYLE FOR THE MENU LARGE TITLE.  *****/
.large-menu-title{
  font-size:2em;
}




