<script src="{{url('vendors/bower_components/jquery/dist')}}/jquery.min.js"></script>

<!-- Angular -->
<script src="{{url('vendors/bower_components')}}/angular/angular.min.js"></script>
<script src="{{url('vendors/bower_components')}}/angular-animate/angular-animate.min.js"></script>
<script src="{{url('vendors/bower_components')}}/angular-resource/angular-resource.min.js"></script>

<!-- Angular Modules -->
<script src="{{url('vendors/bower_components')}}/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="{{url('vendors/bower_components')}}/angular-loading-bar/src/loading-bar.js"></script>
<script src="{{url('vendors/bower_components')}}/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="{{url('vendors/bower_components')}}/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Common Vendors -->
<script src="{{url('vendors/bower_components')}}/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{url('vendors/bower_components')}}/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
<script src="{{url('vendors/bower_components')}}/Waves/dist/waves.min.js"></script>
<script src="{{url('vendors/bootstrap-growl')}}/bootstrap-growl.min.js"></script>
<script src="{{url('vendors/bower_components/ng-table/dist')}}/ng-table.min.js"></script>


<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="{{url('vendors/bower_components/jquery-placeholder')}}/jquery.placeholder.min.js"></script>
<![endif]-->

<!-- Using below vendors in order to avoid misloading on resolve -->
<script src="{{url('vendors/bower_components/flot')}}/jquery.flot.js"></script>
<script src="{{url('vendors/bower_components/flot.curvedlines')}}/curvedLines.js"></script>
<script src="{{url('vendors/bower_components/flot')}}/jquery.flot.resize.js"></script>
<script src="{{url('vendors/bower_components/moment/min')}}/moment.min.js"></script>
<script src="{{url('vendors/bower_components')}}/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="{{url('vendors/bower_components')}}/flot-orderBars/js/jquery.flot.orderBars.js"></script>
<script src="{{url('vendors/bower_components')}}/flot/jquery.flot.pie.js"></script>
<script src="{{url('vendors/bower_components')}}/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="{{url('vendors/bower_components')}}/angular-nouislider/src/nouislider.min.js"></script>


<!-- App level -->
<script src="{{url('')}}/js/app.js"></script>
<!--<script src="{{url('')}}/js/config.js"></script>-->
<script src="{{url('')}}/js/controllers/main.js"></script>
<script src="{{url('')}}/js/services.js"></script>
<script src="{{url('')}}/js/templates.js"></script>
<script src="{{url('')}}/js/controllers/ui-bootstrap.js"></script>
<script src="{{url('')}}/js/controllers/table.js"></script>


<!-- Template Modules -->
<script src="{{url('')}}/js/modules/template.js"></script>
<script src="{{url('')}}/js/modules/ui.js"></script>
<script src="{{url('')}}/js/modules/charts/flot.js"></script>
<script src="{{url('')}}/js/modules/charts/other-charts.js"></script>
<script src="{{url('')}}/js/modules/form.js"></script>
<script src="{{url('')}}/js/modules/media.js"></script>
<script src="{{url('')}}/js/modules/components.js"></script>
<script src="{{url('')}}/js/modules/calendar.js"></script>
<script src="{{url('')}}/js/modules/demo.js"></script>

<script src="{{url('')}}/vendors/input-mask/input-mask.min.js"></script>
<script src="{{url('')}}/vendors/bower_components/nouislider/jquery.nouislider.min.js"></script>
<script src="{{url('')}}/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="{{url('')}}/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{url('')}}/vendors/bower_components/summernote/dist/summernote.min.js"></script>
<script src="{{url('')}}/vendors/fileinput/fileinput.min.js"></script>
<script src="{{url('')}}/vendors/bower_components/autosize/dist/autosize.min.js"></script>
<script src="{{url('')}}/vendors/bower_components/chosen/chosen.jquery.js"></script>
<script src="{{url('')}}/vendors/bower_components/angular-chosen-localytics/chosen.js"></script>
<script src="{{url('')}}/vendors/bower_components/angular-farbtastic/angular-farbtastic.js"></script>

</body>
</html>